:root {
  --pageBackgroundColor: #000000;
}

html {
  height: 100%;
}
body {
  background: var(--pageBackgroundColor) !important;
}
#holder_info,
#clock_info,
#holder_next_line {
  /* color: #ffffff88 !important; */
}

#holder_text {
  /* padding: 0 15px; */
}

.final {
  color: lightgrey;
  visibility: hidden;
}
